@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    height: 100%;
}
.header {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    padding: 20px 100px;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin: 10px auto;
}
.header a{
    text-decoration: none;
    color: #000000;
    width: 500px;
}
.header a:hover{
    color: #8d8d8d;
    
}
.user{
    width: 20px;
    margin-right: 10px;
    color: #000000;
}
.company{
    position: relative;
    display: block;
    max-width: 970px;
    margin: 0 auto;
    padding: 40px 70px 50px;
    background-color: #ffffff;
    box-shadow: 0 5px 25px hsla(0,0%,53.7%,.15);
    margin-top: 200px;
    border-radius: 14px;
}
.company h1{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 25px;
}
.company p{
    color: #000000;
    font-style: normal;
    font-weight: 400;
    margin: 15px 0 0;
    padding: 0;
}
.history h2{
    margin-left: 300px;
    text-transform: uppercase;
    font-size: 30px;
}
.history{
    background-color: #ffffff;
    margin-top: 200px;
    height: 800px;
}
.history img{
    width: 1828pxpx;
    height: 800px;
    margin-left: 165px;
}